
    
th,td{  border:1px solid dimgrey;
    width: 10;
}

tr:nth-child(odd){
    
     background-color:dimgrey;
    color: black;
    
}


tr:hover{
    
    background-color: #a6b727;
}








body {
     background-color:black;
        font-family: 'NRT-Bd', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
     
        
    }


    .left {
        display: inline-block;
        /* border: 2px solid red; */
        position: absolute;
        left: 60px;
        top: 20px;
    }

    .left img {
        width: 136px;
        filter: invert(100%);
    }

    .left div {
        line-height: 19px;
        font-size: 26px;
        text-align: center;
    }

    .mid {
        
        display: inherit;
        width: 36%;
        margin: 29px auto;
        position: absolute;
         left: 1px;
        top: 270px;
       
    }

    .right {
        position: absolute;
        right: 1px;
        top: 1px;
        display: inline-block;
        /* border: 2px solid yellow; */
    }

  .right1{
        position: absolute;
        right: 0px;
        top: 90px;
        display: inline-block;
        /* border: 2px solid yellow; */
        
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;

    }

   
    .navbar li a.active {
        text-decoration: underline;
        color: grey;

    }

    .btn {
        font-family: 'NRT-Bd', cursive;
        margin: 0px 9px;
        background-color: white;
        color: black;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: rgb(31, 30, 30);
    }

 .container0 {
    
        border: 2px solid white;
        margin: 30px 20px;
        padding: 40px;
        width: 90%;
        border-radius: 28px;
       
       
    }
.p{
    font-size: 120% ;
}


   .container10 {
    
        border: 2px solid darkgrey;
        margin: 10px 5px;
        padding: 10px;
        width: 97%;
        border-radius: 5px;
      background-color: dimgrey;
       
       
    }
.contact1{
float: right;
    clear: right;
    width: 400px;
    height: 600px;
   
}
pre{
    font-size: 13px;
   
      
}

.pp{

       
    font-size: 15px;
}


.exercise{
position: absolute
       
        lift:500px;
        top: 43px;
        display: block;
  
    

       
     
}

.dark-mode {
       background-image: url(photo2.jpg);
        color: white;
      }

.light-mode{
     background-image: url(../photo/OIP.jpg);
    image-rendering: pixelated;
   color: white;
     
}
   .section12{
    display: flex;
        justify-content:space-evenly;
}
.box{
    flex-direction: column;
}

.E1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    
}
.box{width: 200px;
    height: 200px;
    
}
.E2{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}
.E3{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}
.E4{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E5{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E6{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E7{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E8{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E9{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E10{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E11{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E12{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E13{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}.E14{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
}
.E15{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E16{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E17{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E18{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E19{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E20{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E21{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    
    
}.E22{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 300px;
    height: 200px;
    }.E23{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E24{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
    }.E25{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.box{width: 200px;
    height: 200px;
}

  .container10 {
    display: flex;
        border: 2px solid darkgrey;
        margin: 10px 5px;
        padding: 10px;
        width: 97%;
        border-radius: 5px;
      background-color: dimgrey;
       
       
    }



